In [2]:
import pandas as pd

In [60]:
housing_coords = pd.read_csv('../data/house_coordinates_0.25.csv', index_col = 0);
housing_coords.head()

# housing_coords["Address"] = housing_coords["Coords4"].apply(lambda x: x[-21])

                 longitude   latitude
Address
Address missing -93.631913  42.030781
Address missing -93.631913  42.030781
Address missing -93.631913  42.030781
Address missing -93.631913  42.030781
Address missing -93.631913  42.030781

In [24]:
temp = housing_coords["Coords4"].iloc[1719]
temp[:-21]

'1001 Kennedy St'

In [33]:
temp = housing_coords

In [39]:
temp["len"] = housing_coords["Coords4"].apply(len);
temp.sort_values("len", ascending = True, inplace = True); # 21 housings had missing value in address.

In [52]:
temp2 = housing_coords["Coords4"].apply(lambda x: x[-21:] if len(x) > 13 else '')

In [54]:
housing_coords["Address"] = housing_coords["Coords4"].apply(lambda x: x[:-21] if len(x) > 15 else "Address missing");

In [58]:
housing_coords = housing_coords[["Address", "longitude", "latitude"]];
housing_coords.to_csv('../data/house_coordinates_address.csv', index = False)