In [2]:
import numpy as np
import pandas as pd

from scipy import stats
import itertools
from sklearn import linear_model
from numpy import ones,vstack
from numpy.linalg import lstsq
pd.set_option('display.max_rows', 500)

In [ ]:
df = pd.read_csv("../data/Ames_Housing_Price_Data_v2.csv", index_col=0)
df_re=pd.read_csv("../data/Ames_Real_Estate_Data_raw.csv", index_col=0)

df=df.reset_index(drop=False)
df_re=df_re.reset_index(drop=False)

In [ ]:
merged=pd.merge(df,df_re,how='left', left_on='PID',right_on='MapRefNo')

In [ ]:
merged.head(5).T

In [ ]:
# merged['Address']=merged['PA-Nmbr'].fillna(' ').astype(str) \
# + " " + merged['PA-PreD'].fillna(' ').astype(str) \
# + " " + merged['PA-Strt'].fillna(' ').astype(str) \
# + " " + merged['PA-StSfx'].fillna(' ').astype(str) \
# + " " + merged['PA-PostD'].fillna(' ').astype(str)

In [ ]:
merged['Address']=merged['Prop_Addr'].fillna(' ').astype(str) + ", Ames, Iowa, USA"

In [ ]:
from geopy.geocoders import Nominatim
geocoder = Nominatim(user_agent = 'operation_goldfish')

# adding 1 second padding between calls
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1,   return_value_on_exception = None) 

def coord_finder(address):
    try:
        return geocode(address, exactly_one=True, limit=None, addressdetails=False, language=False, geometry=None, extratags=False, country_codes=None, viewbox=None, bounded=False, featuretype=None, namedetails=False)
    except:
        return "No coordinates found"

In [ ]:
merged['Coords']=merged['Address'].apply(lambda row: coord_finder(row))

In [ ]:
import geopy
geolocator = geopy.geocoders.OpenMapQuest(api_key='Lt5iJqVsLsBlkeHeAZjWQYLA1N9k9SV9')

# adding 1 second padding between calls
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1,   return_value_on_exception = None) 

def coord_finder2(address):
    try:
        return geolocator.geocode(address, exactly_one=True, limit=None, addressdetails=False, language=False, geometry=None, extratags=False, country_codes=None, viewbox=None, bounded=False, featuretype=None, namedetails=False)
    except:
        return "No coordinates found"

In [ ]:
merged['Coords2']=merged['Address'].apply(lambda row: coord_finder2(row))

In [ ]:
import geopy
geolocator = geopy.geocoders.GoogleV3(api_key='AIzaSyATEMO61vvCdK4_XjD51NNdOtzQfkdPyyQ', domain='maps.googleapis.com')

# adding 1 second padding between calls
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1,   return_value_on_exception = None) 

def coord_finder3(address):
    try:
        return geolocator.geocode(address, exactly_one=True, language=False)
    except:
        return "No coordinates found"

In [ ]:
merged['Coords4']=merged['Address'].apply(lambda row: coord_finder3(row))

In [ ]:
merged['Coords4'][1].latitude

In [ ]:
merged['latitude']=merged['Coords4'].apply(lambda x: x.latitude)
merged['longitude']=merged['Coords4'].apply(lambda x: x.longitude)

In [ ]:
house_coords=merged[['PID','Address','Coords4','latitude','longitude']]

In [ ]:
#house_coords.to_csv('../data/house_coordinates.csv')

In [3]:
house_coords=pd.read_csv('../data/house_coordinates.csv')

In [4]:
house_coords=house_coords.drop('Unnamed: 0',axis=1).drop_duplicates()

In [5]:
def group_vincinity(df_house, df_place, colname="POI", mileage = 0.25):
    '''
    Input variables:
    df_house: Dataframe of the houses. Need to contain the columns ["longitude", "latitude"].
    df_place: Dataframe of places of interests. Need to contain the columns ["longitude", "latitude"].
    colname: A string, indicates the column name which will be attached to df_house.
    mileage: A float. Will look for all pairs of df_house and df_place within th mileage miles.
    Output variables:
    An updated dataframe of df_house which has a new column "POI".
    The column consists integers which indicates the number of 'df_place' within 'mileage' in each 'df_house'.
    '''
    #for each line:
    #sum 
    
    
    df_place=house_coords.drop('')
    house_coords["gps"] = house_coords[["latitude", "longitude"]].apply(lambda x: (x["latitude"], x["longitude"]), axis = 1);
    
    house_coords[colname] = house_coords[["gps"]].apply(lambda x: np.sum(df_place[["latitude", "longitude"]].\
    apply(lambda y: geopy.distance.geodesic((y["latitude"],y["longitude"]), x).miles < mileage, axis = 1)), axis = 1);
    
    house_coords.drop("gps", axis = 1, inplace = True);
    return df_house;

In [48]:
df = pd.read_csv("../data/Ames_Housing_Price_Data_v2.csv", index_col=0)
df=df.reset_index()

house_coords["gps"] = house_coords[["latitude", "longitude"]].apply(lambda x: (x["latitude"], x["longitude"]), axis = 1);
house_coords=house_coords.merge(df[['PID','SalePrice']],how='left')

In [111]:

import geopy
from geopy.distance import geodesic

def group_average(index, mileage = 0.25):
    coords=house_coords.loc[index,'gps']
    df_place=house_coords.drop(index,axis=0).copy()
    df_place['in_distance']=df_place['gps'].apply(lambda x: geopy.distance.geodesic(x, coords).miles < mileage)
    return df_place.loc[df_place['in_distance']==True,'SalePrice'].mean()

In [115]:

house_coords2=house_coords.copy()

for i in range(0,len(house_coords2)):
    house_coords2.loc[i,'AvgPrice-0.25']=group_average(i,mileage=0.25)
    house_coords2.loc[i,'AvgPrice-0.5']=group_average(i,mileage=0.5)

house_coords2.to_csv('../data/house_surrounding_avg_prices.csv')

In [116]:
house_coords2

,PID,Address,Coords4,latitude,longitude,gps,SalePrice,AvgPrice-0.25,AvgPrice-0.5
0,909176150,"436 HAYWARD AVE, Ames, Iowa, USA","436 Hayward Ave, Ames, IA 50014, USA",42.017780,-93.651452,"(42.0177796, -93.6514517)",126000,141078.805556,153816.163043
1,905476230,"3416 WEST ST, Ames, Iowa, USA","3416 West St, Ames, IA 50014, USA",42.024697,-93.664186,"(42.0246969, -93.6641856)",139500,140452.954545,133264.817518
2,911128020,"320 S 2ND ST, Ames, Iowa, USA","320 S 2nd St, Ames, IA 50010, USA",42.021389,-93.614855,"(42.0213891, -93.6148547)",124900,77901.375000,104173.653846
3,535377150,"1524 DOUGLAS AVE, Ames, Iowa, USA","1524 Douglas Ave, Ames, IA 50010, USA",42.038070,-93.612065,"(42.0380697, -93.6120649)",114000,124054.761905,133868.249097
4,534177230,"2304 FILLMORE AVE, Ames, Iowa, USA","2304 Fillmore Ave, Ames, IA 50010, USA",42.044900,-93.631893,"(42.0449, -93.6318933)",227000,178830.454545,164427.171429
...,...,...,...,...,...,...,...,...,...
2575,903205040,"1021 RIDGEWOOD AVE, Ames, Iowa, USA","1021 Ridgewood Ave, Ames, IA 50010, USA",42.031937,-93.626510,"(42.0319368, -93.62651)",121000,132936.111111,132466.440678
2576,905402060,"3619 MARY CIR, Ames, Iowa, USA","3619 Mary Cir, Ames, IA 50014, USA",42.027798,-93.666899,"(42.02779779999999, -93.666899)",139600,179100.000000,157101.333333
2577,909275030,"2140 SUNSET DR 2142, Ames, Iowa, USA","2140 Sunset Dr, Ames, IA 50014, USA",42.019944,-93.643206,"(42.0199443, -93.6432061)",145000,180624.073171,172832.855670
2578,907192040,"5319 CLEMENS BLVD, Ames, Iowa, USA","5319 Clemens Blvd, Ames, IA 50014, USA",42.016826,-93.690382,"(42.0168258, -93.6903825)",217500,209281.423077,191430.964646
2579,906223180,"1025 VERMONT CT, Ames, Iowa, USA","1025 Vermont Ct, Ames, IA 50014, USA",42.031651,-93.682452,"(42.0316509, -93.682452)",215000,213862.955556,182227.958333